*{
    box-sizing:border-box;
}

html,body{
    padding:0px;
    margin:0px;
}

.header{
    height:60px;
    background-color:#005ce6;
    display: flex;
    position: relative;
    /* position:sticky; */

}

.flipkart-img .flipkartin {
    /* background-color:brown; */
    height: 60px;
    width:150px ;
    margin-left:170px ;
    
    
}
.flipkartin img{
    height: 40px;
    width:150px ;   
    margin-top: 5px;
    
}

.header .MainSearch{
    height:60px;
    width: 500px;
    /* background-color: aquamarine; */
    /* justify-content: center;
    text-align: center; */
}

.search{
    display: flex;
    position: relative;
}
.search input{
position: absolute;    
margin-top:10px ;
 width: 500px;
 height: 35px;
 padding-left :5px;;
 /* background-color:brown; */
}

 .serchicon i{
    position: absolute;
    height: 20px; ;
    background-color:white;
    margin-left:470px;
    top:20px ;
    bottom: 20px;
    padding-left: 10px ;
    padding-right: 2px ;
}


.login{
    height:30px;
    width:120px;
    background-color:white;
    color:#005ce6;
    position: absolute;
    margin-left: 900px;
    margin-top: 13px;
    text-align: center;
    padding-top:3px ;
}

.more {
    position: relative;
    display: inline-block;
    margin-left:250px ;
    /* background-color: #3e8e41; */
  }

.dropbtn {
    background-color: #005ce6;
    color: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    margin-top: 13px;
  }
  .drop-down-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .drop-down-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .drop-down-content a:hover {background-color: #ddd;}
  .more:hover .drop-down-content {display: block;}
  .more:hover .dropbtn {background-color: #3e8e41;}
/* .more{
    position: absolute;
    height:30px;
    width:40px;
    margin-left: 1100px;
    text-align: center;
    margin-top: 15px;
    color: white;
    /* background-color: black; */       
} */
 
.header cart{
    display:flex;
    position: absolute;
    background-color: #005ce6;
}

.cart .incart
{

height:60px;
width:50px;
padding:15px;
margin-left: 20px;    

} 


.varities{
    height: 90px;
    /* background-color:aqua; */
    display:flex;
    position:relative;
    margin-top:10px;
}

.topofr img{

position: absolute;
height: 90px;
width: 90px;
/* background-color: #3e8e41; */
margin-left:150px;
}

.grocery img{

    position: absolute;
    height: 90px;
    width: 90px;
    /* background-color: #3e8e41; */
    margin-left:350px;
    }
.travel img{

position: absolute;
height: 90px;
width: 90px;
/* background-color:white; */
margin-left:550px;
    }

.homeapllince img{

 position: absolute;
 height: 90px;
 width: 90px;
 /* background-color: #3e8e41; */
 margin-left:750px;
 }

 .fashion img{

position: absolute;
height: 90px;
width: 90px;
    /* background-color: #3e8e41; */
margin-left:950px;
padding-left: 7px;
padding-right:7px ;
}

.varitiestxt{
    height:30px;
    /* background-color: aquamarine; */
    display:flex;
    position:relative;
}

.toptxt{
    position: absolute;
    margin-left:170px;
}
.grocrytxt{
    position: absolute;
    margin-left: 370px;
}
.trvltxt{
    position: absolute;
    margin-left: 570px;
}
.applincetxt{
    position: absolute;
    margin-left: 770px;
}
.fshiontxt{
    position: absolute;
    margin-left: 970px;
}

.paytm img{
    height:400px;
    width:1300px;
    background-color: aqua;
    margin-left:30px ;
}


.mainvarity{
    height: 250px;
    /* background-color:aqua; */
    display:flex;
    position:relative;
    margin-top:20px;
}

.jogger img{

position: absolute;
height: 250px;
width: 150px;
/* background-color: #3e8e41; */
margin-left:150px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cycle img{

    position: absolute;
    height: 250px;
    width: 300px;
        /* background-color: #3e8e41; */
    margin-left:350px;
    padding-left: 7px;
    padding-right:7px ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
.laptop img{

    position: absolute;
    height: 250px;
    width: 300px;
    /* background-color: #3e8e41; */
    margin-left:700px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
.shirt img{

position: absolute;
height: 250px;
width: 150px;
/* background-color:white; */
margin-left:1050px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }


.mainvaritiestxt{
        height:30px;
        /* background-color: aquamarine; */
        display:flex;
        position:relative;
    }
    
    .joggertxt{
        position: absolute;
        margin-left:190px;
        

    }
    .cycletxt{
        position: absolute;
        margin-left: 490px;
    }
    .laptoptxt{
        position: absolute;
        margin-left: 840px;
    }
    .shirttxt{
        position: absolute;
        margin-left: 1120px;
    }
   

.headphon{
    display: flex;
    position: relative;
   
}

.headphon img{
 display: flex;
 position: absolute;
 margin-top: 30px;
 height: 290px;
 width: 390px;
 margin-left:450px;
 box-shadow: 0px 8px 16px 0px rgba(126, 7, 7, 0.2);
}

.offer img{

    position: absolute;
    
    height: 60px;
    width: 60px;
    background-color: #3e8e41; 
    margin-left:750px;
    box-shadow: none;
    
   }
   
   .headphnspce{
       height:340px;
       /* background-color: aqua; */
   } 

   .footer{
       height:70px;
       background-color:#005ce6;
      margin-top: 10px;
   }

   .footer .footerin{
       margin-left: 530px;
       padding-top: 20px;
       width: 300px;
       height: 60px;
       /* background-color:gold; */
       color:white;
    }